@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
}
